@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.App {
  font-family: "Noto Sans KR", sans-serif;

  overflow: hidden;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

/* ************************************ */
/* Common */
/* ************************************ */
* {
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
  outline: none
}

a:hover,
a:active {
  text-decoration: none;
  color: #000;
  background-color: transparent;
}

.df {
  display: flex;
}

.df.aic {
  align-items: center;
}

.df.sb {
  justify-content: space-between;
}

.inner {
  width: 100%;
  max-width: 1140px;
  padding: 0 24px;
  margin: 0 auto;
}

/* animate */
.elem_animate {
  opacity: 0;
  transition: all 1s ease;
}

.elem_animate.up {
  transform: translateY(80px);
}

.elem_animate.down {
  transform: translateY(-80px);
}

.elem_animate.left {
  transform: translateX(80px);
}

.elem_animate.right {
  transform: translateX(-80px);
}

.elem_animate.animated {
  transform: translateX(0px);
  transform: translateY(0px);
  opacity: 1;
}


/* ************************************ */
/* Header */
/* ************************************ */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid transparent;
  transition: background-color .3s;
  z-index: 1000;
}

.header.floating {
  border-bottom-color: #e5e5e5;
  background-color: #fff;
  /* color: #4e5968; */
}

.header__right {
  gap: 0 50px
}

/* logo */
.logo {}

.logo__link {
  display: inline-block;
}

.logo__link img {
  height: 60px;
  width: 100%;
}

/* Gnb */
.gnb li {
  padding: 0 8px
}

.gnb li a {
  display: inline-block;
  padding: 12px 10px;
  font-size: 15px;
}

/* Lang */
.lang li {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 60px;
}

.lang li:first-child::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -1px;
  width: 2px;
  height: 100%;
  background-color: #eee;
  transform: translateY(-50%);
}

.lang li a {
  color: #999;
  font-weight: 300;
  font-size: 15px;
}

.lang li.active a {
  color: #000;
}


/* ************************************ */
/* Main */
/* ************************************ */
.main {
  position: relative;
}

.main-sec {
  position: relative;
  height: 100vh;
}

.main-sec:nth-child(odd) {
  background-color: #fff;
}

.main-sec:nth-child(even) {
  background-color: #f9fafb;
}

.main-sec__wrap {
  position: relative;
  padding: 0 30px;
}

.main-sec__title {
  position: relative;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
  color: #3182f6;
  margin-bottom: 30px;
  z-index: 101;
}

.main-sec__desc {
  position: relative;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.4;
  z-index: 100;
}

.main-sec__small-desc {
  font-size: 23px;
  font-weight: 600;
  line-height: 1.5;
}


/* Intro */
.main-sec.intro {
  background: url(./../public/imgs/main/new_main.png) no-repeat center / cover;
}

.intro__linear-bg {
  position: absolute;
  width: 100%;
  height: 400px;
  background: linear-gradient(180deg, white 20%, rgba(255, 255, 255, 0) 100%);
}

.intro__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  inset: 0 0 0 0;
}

.intro__top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 180px; */
  padding-top: 180px;
}

.intro__text {
  margin-bottom: 50px;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  line-height: 1.4;
}

.intro__btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 4px;
}

.intro__btn-wrap a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 6px;
  padding: 10px 15px;
  font-size: 17px;
  color: #fff;
  background-color: rgba(0, 12, 30, 0.8);
  border-radius: 10px;
}

.intro__bottom-btn {
  padding: 10px 20px;
  margin-bottom: 30px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.moving-svg {
  animation: moveUpDown 4s ease-in-out infinite;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(-5px);
    opacity: 0;
  }

  25% {
    transform: translateY(5px);
    opacity: 1;
  }

  50% {
    transform: translateY(-5px);
    opacity: 1;
  }

  75% {
    transform: translateY(5px);
    opacity: 1;
  }

  100% {
    transform: translateY(-5px);
    opacity: 0;
  }
}

/* Desc */
.main-sec.desc {
  height: auto;
  padding: 200px 0;
}

.desc p {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.6;
  color: #191f28;
  text-align: center;
  margin-bottom: 40px;
}

/* 홈·소비 */
.main-sec.consumption {
  height: auto;
  padding: 250px 0 165px;
}

.consumption__wrap {
  position: relative;
}

.consumption__img-wrap {
  position: relative;
  height: 1000px;

}

.consumption__img-item {
  position: absolute;
}

.consumption__img-item.first {
  top: -200px;
  right: -110px;
  width: 600px;
  height: 936px;
}

.consumption__img-item.second {
  left: -110px;
  bottom: 0px;
  width: 600px;
  height: 936px;
}

.consumption__img-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 57%;
  height: auto;
  transform: translate(-50%, -50%);
}

.consumption__img-bg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.consumption__desc {
  position: absolute;
  bottom: 160px;
  right: 30px;
}



/* 투자 */
.main-sec.invest {
  height: auto;
  padding: 250px 0;
}

.invest__desc {
  text-align: center;
}

.invest__content-wrap {
  position: relative;
}

.invest__img-wrap {
  position: relative;
  width: 600px;
  height: 936px;
  margin: 0 auto;
}

.invest__img-bg {
  position: relative;
  width: 100%;
  z-index: 2;
}

.invest__img-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 57%;
  translate: -50% -50%;
  z-index: 1;
}

.invest__img-list {
  display: flex;
  gap: 16px;
  position: absolute;
  left: 50%;
  bottom: 124px;
  transform: translateX(-50%);
  z-index: 3;
}

.invest__img-item {
  width: 178px;
  height: 178px;
  opacity: 0;
}

.invest__img-item.show {
  opacity: 1;
}

.invest__img-item img {
  width: 100%;
}

.invest__desc-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 42%;
  left: 50%;
  width: 100%;
  max-width: 930px;
  padding-left: 30px;
  translate: -50% -50%;
  z-index: 3;
}


/* 금융 */
.main-sec.finance {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./../public/imgs/main/section5_bg.jpg) no-repeat center / cover;
}

.finance-text {
  font-size: 100px;
  font-weight: 700;
  line-height: 1.3;
  color: #f9fafb;
  text-align: center;
}

.animation-bg {
  position: absolute;
  top: 0;
  width: calc((100vw - 1040px) / 2);
  height: 100%;
  background-color: #fff;
}
.animation-bg.left{
  left: 0;
}
.animation-bg.right{
  right: 0;
}